@font-face {
    font-family: 'pp_pangram_sans_roundedXBd';
    src: url('./fonts/pppangramsansrounded-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'pp_pangram_sans_roundedXBd';
    font-size: 1.3rem;

  }